<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @tracked_friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody >
        <% @tracked_friends.each do |friend|%>  
          <tr>
            <td><strong>Name: </strong> <%= friend.full_name %></td>
            <td><strong>Email: </strong> <%= friend.email %></td>
            <td><strong>Profile: </strong> <%= link_to "View Profile", "#", class: "btn btn-sm btn-success"%></td>
            <td><%= link_to 'Follow friend?', '#',
                                    class: "btn btn-sm btn-success", method: :post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>  