<div class='results-block center'>
  <%= render 'layouts/messages' %>
</div>
<% if @stock %>
  <div class="container">
    <div class="card card-header results-block">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Company: </strong><%= @stock.name %>
      <strong>Price: </strong><%= @stock.last_price %>
      <%= link_to 'Link to Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), 
                                                        class: "btn btn-xs btn-outline-success", method: :post%>
    </div>
  </div>
<% end %>